body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
}
#u1140 {
  position:absolute;
  left:490px;
  top:202px;
  width:300px;
  height:77px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(65, 47, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1142 {
  position:absolute;
  left:71px;
  top:115px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u1143 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(65, 47, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1144 {
  position:absolute;
  left:600px;
  top:115px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1146 {
  position:absolute;
  left:64px;
  top:181px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1147 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1148 {
  position:absolute;
  left:68px;
  top:307px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1149 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1150 {
  position:absolute;
  left:506px;
  top:222px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1151 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1152 {
  position:absolute;
  left:666px;
  top:222px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1153 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1154 {
  position:absolute;
  left:550px;
  top:362px;
  width:180px;
  height:29px;
  color:#FFFFFF;
}
#u1155 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:87px;
}
#u1156 {
  position:absolute;
  left:179px;
  top:279px;
  width:117px;
  height:86px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:87px;
}
#u1158 {
  position:absolute;
  left:168px;
  top:155px;
  width:117px;
  height:86px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:19px;
  width:113px;
  word-wrap:break-word;
}
#u1160 {
  position:absolute;
  left:285px;
  top:198px;
  width:0px;
  height:0px;
}
#u1160_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1160_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:51px;
}
#u1160_seg2 {
  position:absolute;
  left:65px;
  top:39px;
  width:140px;
  height:8px;
}
#u1161 {
  position:absolute;
  left:31px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162 {
  position:absolute;
  left:296px;
  top:322px;
  width:0px;
  height:0px;
}
#u1162_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1162_seg1 {
  position:absolute;
  left:53px;
  top:-85px;
  width:8px;
  height:89px;
}
#u1162_seg2 {
  position:absolute;
  left:53px;
  top:-85px;
  width:141px;
  height:8px;
}
#u1162_seg3 {
  position:absolute;
  left:180px;
  top:-91px;
  width:21px;
  height:20px;
}
#u1163 {
  position:absolute;
  left:7px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164 {
  position:absolute;
  left:640px;
  top:279px;
  width:0px;
  height:0px;
}
#u1164_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u1164_seg1 {
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:21px;
}
#u1165 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:43px;
}
#u1166 {
  position:absolute;
  left:40px;
  top:51px;
  width:869px;
  height:43px;
  font-size:14px;
}
#u1167 {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  word-wrap:break-word;
}
#u1168 {
  position:absolute;
  left:640px;
  top:143px;
  width:0px;
  height:0px;
}
#u1168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1168_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:21px;
}
#u1169 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
